body, html {
    height: 100%;
    margin: 0;
    
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #001f3f, #003366);
    background-size: 400% 400%;
    animation: gradientAnimation 15s infinite alternate;
    overflow: hidden;
    z-index: 0;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.content {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: #fff;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
}

.projects {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    width: 300px;
    margin: 15px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    text-align: left;
}

.project h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.project p {
    font-size: 1em;
}

.background-design {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.circle {
    position: absolute;
    background-color: #3498db;
    border-radius: 50%;
    opacity: 0.6;
    animation: moveCircle 10s infinite alternate;
}

@keyframes moveCircle {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(20px, 20px);
    }
}

.greeting-statement,
.about-me {
    text-align: center;
    margin-bottom: 20px;
}

.greeting-statement p,
.greeting-statement h1,
.greeting-statement .role,
.about-me p,
.about-me h2 {
    margin: 5px 0;
}

.greeting-statement p,
.about-me p {
    font-size: 1.5em;
}

.greeting-statement h1,
.about-me h2 {
    font-size: 3em;
    margin-bottom: 10px;
}

.greeting-statement .role {
    font-size: 1.2em;
    color: rgb(216, 255, 20);
}

.profile-image {
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.profile-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    position: relative;
    z-index: 1;
    animation: pulse 3s infinite;
    border-radius: 50%;
}



.about-me {
    width: 60%;
    margin: auto; 
    padding: 20px;
    text-align: center;
}

.about-me h2 {
    color: rgba(42, 255, 42, 0.729);
    font-size: 24px;
    margin-bottom: 10px;
}

.about-me p {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.6;
    animation: fadeIn 9s ease; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.resume-button {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s; 

}

.resume-button:hover {
    background-color: #3fe847; 
}


.image-container {
    display: flex;
    justify-content: center; 
    margin: 20px 0 40px; 
}


.interactive-image {
    position: relative;
    width: 300px; 
    height: auto;
    cursor: pointer;
    margin: -20px 20px 10px; 
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.interactive-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}


.tooltip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    width: 100%; 
    box-sizing: border-box; 
}

.tooltip h3,
.tooltip p {
    font-size: 2em;
    margin: 0 0 5px;
    color: #a2d1f0;
    font-family: 'Playfair Display', sans-serif;
}

.tooltip p {
    font-size: 1.5em;
    margin: 0; 
    color: #f5ef3c;
}

.interactive-image {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.interactive-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease-in-out;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.interactive-image:hover {
    transform: scale(1.1);
}

.interactive-image:hover img {
    filter: blur(5px);
}

.interactive-image:hover .overlay {
    opacity: 1;
}

.interactive-image:hover .tooltip {
    opacity: 1;
    transform: translateY(-50%) translateX(-50%);
}

.interactive-image:hover .tooltip h3,
.interactive-image:hover .tooltip p {
    animation: slideIn 0.5s ease-in-out; 
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }
    to {
        opacity: 1;
        transform: translateY(-50%);
    }
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    font-size: 16px;
    color: #333;
}

#projects {
    text-align: center;
    position: relative;
    z-index: 1;
    margin-bottom: 40px; 
}

#projects h2 {
    margin: 0;
    padding: 0;
    color: rgba(42, 255, 42, 0.729);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.project {
    position: relative;
    flex: 0 0 calc(30% - 20px);
    margin-bottom: 20px;
    overflow: hidden;
    height: 300px;
    box-sizing: border-box;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.project:nth-child(4),
.project:nth-child(5) {
    margin-left: auto;
    margin-right: auto;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); 
}

.project-image {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease; 
}

.project:hover .project-image {
    border: 1px solid #000; 
}

.project-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s ease, transform 0.5s ease; 
}

.project:hover .project-details {
    opacity: 1;
    transform: translateY(0);
}

.project h3 {
    margin: 0;
    font-size: 1.5em;
}

.project p {
    font-size: 1em;
    margin: 10px 0;
}

.project-links {
    margin-top: 15px;
}

.project-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease; 
    margin-right: 10px;
}

.project-links a:hover {
    background-color: #fff;
    color: #000;
}


@media (max-width: 768px) {
    .project {
        flex: 0 0 calc(100% - 20px);
    }

    .projects {
        padding: 10px;
    }

    .project h3 {
        font-size: 18px;
    }

    .project p {
        font-size: 14px;
    }
}

#certifications {
    text-align: center;
    position: relative;
    z-index: 1;
    margin-top: 40px;
}

#certifications h2 {
    margin: 20px 0;
    padding: 0;
    color: rgba(42, 255, 42, 0.729);
    position: relative;
    z-index: 1;
}

.certification {
    position: relative;
    display: inline-block;
    margin: 20px;
    overflow: hidden;
    width: calc(33.333% - 40px);
    box-sizing: border-box;
}

.certification:hover {
    transform: translateY(-5px) scale(1.05); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.certification-image {
    position: relative;
    overflow: hidden;
}

.certification-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease; 
}

.certification:hover .certification-details {
    opacity: 1;
    transform: translateY(0);
}

.certification-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.certification h3 {
    margin: 0;
    font-size: 20px;
}

.certification-links {
    margin-top: 15px;
}

.certification-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; 
    margin-right: 10px;
}

.certification-links a:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.1); 
}


@media (max-width: 768px) {
    .certification {
        display: block;
        width: 100%;
    }

    #certifications h2 {
        margin-top: 40px; 
    }
}


#experience {
    text-align: center;
    position: relative;
    z-index: 1;
    margin-top: 40px;
}

#experience h2 {
    margin: 20px 0;
    padding: 0;
    color: rgba(42, 255, 42, 0.729);
    position: relative;
    z-index: 1;
}

.experience {
    position: relative;
    display: inline-block;
    margin: 20px;
    width: 300px;
    box-sizing: border-box;
}

.experience:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.experience-image {
    position: relative;
    overflow: hidden;
    height: 250px; 
    margin-bottom: 10px;
}

.experience-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.experience-details {
    position: relative;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.experience:hover .experience-details {
    opacity: 1;
    transform: translateY(0);
}

.experience h3 {
    margin: 0;
    font-size: 20px;
}

.experience p {
    font-size: 14px;
    margin: 10px 0;
}


@media (max-width: 768px) {
    .experience {
        display: block;
        width: 100%;
        margin-right: 0; 
    }

    #experience h2 {
        margin-top: 40px;
    }
}

#startup {
    text-align: center;
    position: relative;
    z-index: 1;
    margin-bottom: 40px;
}

#startup h2 {
    margin: 0;
    padding: 0;
    color: rgba(42, 255, 42, 0.729);
}

.picturee {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.logo {
    position: relative;
    overflow: hidden;
    height: 200px;
    width: 200px;
    box-sizing: border-box;
    margin-right: 20px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.logo:hover {
    transform: translateY(-5px);
}

.logo:hover img {
    border: 1px solid #000;
}

.startup-details {
    text-align: left;
    position: relative; 
    z-index: 2;
}

.startup-details h3 {
    margin: 0;
    font-size: 1.5em;
    color: #fff;
    z-index: 2; 
}

.startup-details p {
    font-size: 1em;
    margin: 10px 0;
    color: #f1ff31;
    z-index: 2;
}

.details-button {
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.details-button:hover {
    background-color: #3fe847;
}



#skills {
    text-align: center;
    z-index: 1;
    margin-top: 20px;
}

#skills h2 {
    margin: 20px 0; 
    padding: 10px 0; 
    color: #4caf50; 
    font-size: 2em; 
}

.skill-categories {
    text-align: center; 
}

.skill-category {
    margin: 0 10px 20px; 
    border-radius: 8px; 
    background: linear-gradient(to right, #333, #555); 
    padding: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: inline-block; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.skill-category:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.skill-category h3 {
    font-size: clamp(1.5em, 2vw, 2em); 
    margin-bottom: 15px; 
    color: #eaff75; 
}

.skill-category h3::before {
    content: '\1F4D6'; 
    font-size: 1.5em;
    margin-right: 10px;
}

.skill-category ul {
    list-style-type: none;
    padding: 0;
    text-align: left; 
}

.skill-category li {
    margin-bottom: 10px;
    font-size: clamp(1em, 1.5vw, 1.2em);
    color: #ffffff;
}

.skill-category li:hover {
    color: #4caf50; 
}

.skill-category li::before {
    content: '\2022'; 
    color: #4caf50; 
    font-size: 1.2em; 
    margin-right: 8px; 
}


@media (max-width: 768px) {
    .skill-category {
        display: block; 
        margin: 0 0 20px 0;
    }
}

.details-button {
    z-index: 9999; 
}


#additional-documents {
    text-align: center;
    margin-top: 40px;
}

#additional-documents h2 {
    margin: 20px 0;
    padding: 0;
    color: rgba(42, 255, 42, 0.729);
    position: relative;
    z-index: 1;
}

.pdf-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.pdf-image {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.pdf-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.pdf-details {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pdf-details h3 {
    margin: 10px 0 0;
    font-size: 18px;
    color: #fff; 
    position: relative;
    z-index: 1;
}

.download-button {
    text-decoration: none;
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-top: 10px;
}

.download-button:hover {
    background-color: #555;
    color: #fff;
    transform: scale(1.1);
}
